#landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#gameCanvas {
    display: none;
    border: 1px solid #000000;
}

#howToPlay {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
}
